*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #222;
	font-size: 0.875em;
	color:#FFF;
}

#synth-pad {
	width: 100%;
	height: 100%;
	background: #1E1E1E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);
}

#synth-pad:hover {
	cursor: crosshair;
}